/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* roboto-regular - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v30-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local(""),
    url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v30-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local(""),
    url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url("../fonts/roboto-v30-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
:root {
    --main-black-color: #000000;
    --main-gray-color: #333333;
    --main-white-color: #ffffff;
    --main-link-color: #C99B67;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Arial", sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 20px 0;
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

/* Navbar section */

.site-header {
    position: fixed;
    z-index: 2;
    left: 0;
    width: 100%;
    background-image: url("../images/hero-background-img.png");
}

.site-header-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.site-link:not(:first-child) {
    margin-left: 40px;
}

.site-link {
    color: var(--main-color);
    font-size: 12px;
    font-weight: 700;
}

/* End Navbar section */

/* Hero Section */

#hero {
    background-image: url("../images/orange-bg-img.jpg");
    margin-bottom: 20px;
    padding-top: 150px;
}

.hero-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.hero-info h1,
.about-hero-text h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    color: var(--main-black-color);
}

.hero-info {
    width: 545px;
    padding: 116px 0 0 84px;
}

.hero-info p {
    margin: 24px 0 34px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-black-color);
    mix-blend-mode: normal
}

.hero-info a {
    display: inline-block;
    padding: 18px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 1px;
    color: var(--main-white-color);
    mix-blend-mode: normal;
    background: #0A775F;
    border-radius: 100px;
    text-decoration: none;
}

.hero-bg-box {
    position: relative;
    left: 89px;
    top: 4px;
}

.hero-bg-box::before {
    content: "";
    position: absolute;
    top: -65px;
    left: -70px;
    display: block;
    width: 160px;
    height: 160px;
    background-image: url("../images/hero-round-img.png");
    background-position: center;
}

/* End Hero Section */

/* Start Collection Section */

#collection {
    overflow: hidden;
}

.collection-bg-box {
    margin: 0 20px 0 20px;
    padding: 50px 0;
    background-image: url('../images/gray-bg-img.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.collection-part h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
    color: var(--main-black-color);
}

.collection-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 80px auto 0;
    width: 1120px;
    list-style: none;
}

.collection-item:not(:first-child) {
    margin-top: 0;
}

.collection-item:nth-child(1)::before {
    content: '';
    position: absolute;
    top: -130px;
    left: -312px;
    width: 402px;
    height: 300px;
    background-image: url('../images/collection-img-1.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.collection-item:nth-child(2)::after {
    content: '';
    position: absolute;
    bottom: -280px;
    right: -412px;
    width: 392px;
    height: 477px;
    background-image: url('../images/collection-img-2.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.collection-item:nth-child(4)::before {
    content: '';
    position: absolute;
    top: 0px;
    left: -370px;
    width: 316px;
    height: 269px;
    background-image: url('../images/collection-img-3.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

.collection-item:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.collection-item:nth-child(1) .collection-item-info {
    width: 453px;
}

.collection-item:nth-child(2) .collection-item-info,
.collection-item:nth-child(3) .collection-item-info {
    width: 390px;
}

.collection-item:nth-child(4) .collection-item-info {
    width: 410px;
}

.collection-item:nth-child(odd) .collection-item-info {
    margin-left: 117px;
}

.collection-item:nth-child(even) .collection-item-info {
    margin-right: 117px;
}

.collection-item-info h3 {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    font-variant: small-caps;
    color: var(--main-gray-color);
}

.collection-item-info p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: var(--main-gray-color);
}

/* End of Collection Section */

/* Why choose us section */

.why-choose-section {
    background-image: url("../images/choosebg-img.jpg");
    height: 703px;
    margin: 20px 20px 0 20px;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 

.choose-title {
    text-align: center;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.choose-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.choose-img-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 80px;
}

.cofee-before {
    position: absolute;
    transform: translate(-65%, -35%);
}

.choose-desc h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: #333333;
    margin: 0;
    padding: 0;
    margin-top: 28px;
    margin-bottom: 10px;
}

.choose-desc p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #333333;
}

/* End Why choose us section */

/* How it works section */

.how-it-works-section {
    background-image: url("../images/how-it-work-bg-img.jpg");
    height: 826px;
    margin: 20px 20px 0 20px;
    padding: 50px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 300px;
}

.how-it-works-heading {
    position: relative;
}

.works-title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}

.works-absolute-img {
    position: absolute;
    left: 85%;
    top: 0%;
}

.decoration-boxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 80px 0 20px 0;
    width: 956px;
}

.decoration-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.decoration-main-box {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #F8F8F2;
    border: 4px solid var(--main-link-color);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.decoration-box-line {
    border-top: 3px dashed #c99b67;
    width: 387px;
}

.how-it-work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
}

.how-it-works-item {
    position: relative;
    margin-right: 20px;
    padding: 20px 20px 40px 20px;
    width: 433px;
    background-color: #F8F8F2;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.how-it-works-item:hover {
    background-color: #F4D3B0;
}

.how-it-works-item p:first-child {
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    color: var(--main-gray-color);
    opacity: 0.8;
    text-align: right;
}

.how-it-works-item-title-box {
    margin: 45px 0 10px 0;
    width: 245px;
}

.how-it-works-item-title-box h3 {
    margin: 0;
    padding: 0px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    font-variant: small-caps;
    text-transform: uppercase;
    color: var(--main-gray-color);
}

.how-it-works-item p:last-child {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-gray-color);
}

.how-it-works-item p {
    margin: 0;
    padding: 0;
}

.plan-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-footer-btn {
    margin-top: 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding: 16px 24px;
    background-color: #C99B67;
    border-radius: 100px;
}

/* End How it works section */

/* Footer Section */

footer {
    margin-top: 50px;
    padding: 65px 0;
    background-image: url('../images/orange-bg-img.jpg');
}

.foooter-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.foooter-part .header-list a {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.icon-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
}

.icon-item {
    margin-left: 30px;
}

/* End Footer Section */

/* About page Start */

/* Quality Section Start */
#quality {
    margin: 160px 20px 0 20px;
    background-image: url('../images/choosebg-img.jpg');
}

.quality-part {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 100px 0 118px 0;
    color: var(--main-white-color);
}

.quality-text {
    width: 639px;
    margin-left: 90px;
}

.quality-title {
    width: 397px;
}

.quality-title h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    text-transform: uppercase;
    color: var(--main-white-color);
}

.quality-text p {
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: var(--main-white-color);
    mix-blend-mode: normal;
    opacity: 0.8;
}

.quality-img {
    position: absolute;
    top: -80px;
    right: 0;
}

/* Quality Section Finish */

/* Headquarter Section Start */

#headquarter {
    margin: 20px 20px 50px 20px;
    background-image: url('../images/how-it-work-bg-img.jpg');
}

.headquarter-part {
    padding: 70px 0 100px 0;
}

.headquarter-part h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 59px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-white-color);
}

.headquarter-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    margin-top: 80px;
    list-style: none;
}

.headquarter-item {
    width: 433px;
    background-color: #F8F8F2;
    position: relative;
    padding: 140px 0 40px 20px;
}

.canada-item,
.australia-item {
    padding-top: 187px;
}

.headquarter-item::before {
    content: '';
    position: absolute;
    top: 45px;
    right: 55px;
    width: 120px;
    height: 143px;
    background-image: url('../images/uk-map.svg');
    background-repeat: no-repeat;
}

.canada-item::before {
    background-image: url('../images/canada-map.svg');
}

.australia-item::before {
    background-image: url('../images/australia-map.svg');
}

.uk-item-title {
    width: 231px;
}

.headquarter-item h3 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: var(--main-gray-color);
}

.headquarter-item-text {
    width: 178px;
}

.headquarter-item-text a {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 28px;
    color: var(--main-gray-color);
    text-decoration: none;
}

.headquarter-item-text a {
    display: inline-block;
    text-decoration: none;
}

/* Headquarter Section Finish */

/* Create Plan Page Satart */



/* Create Plan Page finish */